certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
llvmlite==0.42.0
lxml==5.2.2
multitasking==0.0.11
numba==0.59.1
numpy==1.26.4
pandas==2.2.2
plotly==6.1.1
python-dateutil==2.9.0
pytz==2023.3
requests==2.32.3
six==1.16.0
tenacity==8.3.0
urllib3==2.2.1
yfinance==1.0
kaleido==1.2.0
pandas-datareader==0.10.0
pyarrow==22.0.0
fastparquet==2025.12.0